section{
    height: 100vh;

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center center;

}

.container
{
    overflow: auto;
    height: 100vh;
}

.hero{
    background-image: url(../images/hero.jpg);
    text-align: center;
    padding-top: 10vh;
    
}

.contact{
    background-image: url(../images/contact.jpg);
    background-color: aqua;
}

.hoshizora{
    background-image: url(../images/hoshizora.jpg);
}

.fishing{
    background-image: url(../images/fishing.jpg);
}

.dolfhin{
    background-image: url(../images/dolphin.jpg);
}

.temple{
    background-image: url(../images/temple.jpg);
}
/*
角を丸くするのはborder radius
*/

.others{background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,135,228,1) 0%, rgba(0,212,255,1) 100%);

}


    

.title{
    text-shadow: 0 0 10px #fff;
    font-size: 10vh;
}

p{
    text-shadow: 0 0 10px #fff;
    font-size: 5vh;
}

ul{
    text-shadow: 0 0 10px #fff;
    font-size: 5vh;
}
