section{
    height: 100vh;

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center center;

}

.container
{
    overflow: auto;
    height: 100vh;
}

.hero{
    background-image: url(../images/hero.jpg);
    text-align: center;
    padding-top: 10vh;
}

.contact{
    background-image: url(../images/contact.jpg);
}

.hoshizora{
    background-image: url(../images/hoshizora.jpg);
}

.fishing{
    background-image: url(../images/fishing.jpg);
}

.dolfhin{
    background-image: url(../images/dolphin.jpg);
}

.temple{
    background-image: url(../images/temple.jpg);
}
/*
角を丸くするのはborder radius
*/

